<a href="https://colab.research.google.com/github/Ajay-2007/5th_Semester/blob/master/2_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n = int(input())
r = int(input())


n_fact = 1
for i in range(1, n + 1):
  n_fact = n_fact * i

r_fact = 1
for i in range(1, r + 1):
  r_fact = r_fact * i


n_r_fact = 1
for i in range(1, n-r + 1):
  n_r_fact = n_r_fact * i

ans = n_fact // (r_fact * n_r_fact)
print(ans)

4
2
6

In [16]:
def fact(a):
  a_fact = 1
  for i in range(1, a + 1):
    a_fact = a_fact * i
  return a_fact

In [17]:
fact(4)

24

In [18]:
a = fact(4)
a

24

In [19]:
n = int(input())
r = int(input())


n_fact = fact(n)
r_fact = fact(r)
n_r_fact = fact(n - r)
ans = n_fact // (r_fact * n_r_fact)
print(ans)

5
2
10

In [20]:
def isPrime(n):
  for d in range(2, n):
    if (n % d == 0):
      break
    else:
      return True
      
  return False

In [21]:
isPrime(10)

False

In [22]:
isPrime(17)

True

In [23]:
def primeFrom2ToN(n):
  for k in range(2, n + 1):
    # check if k is prime and in case it is prime we print k
    is_k_prime = isPrime(k)
    if (is_k_prime):
      print(k)

In [24]:
primeFrom2ToN(20)

3
5
7
9
11
13
15
17
19

In [26]:
def ncr(n, r):
  n_fact = fact(n)
  r_fact = fact(r)
  n_r_fact = fact(n - r)
  ans = n_fact // (r_fact * n_r_fact)
  return ans

In [27]:
ncr(5, 2)

10

In [28]:
 a1 = 10 # global variable

 def f1():
   b1 = 12 # local variable
  
print(a1)
print(b1)

10

NameError: ignored

In [29]:
 a1 = 10 # global variable

 def f1():
   b1 = 12 # local variable
  
print(a1)
f1()
print(b1)

10

NameError: ignored

In [32]:
 a1 = 10 # global variable

 def f1():
  b1 = 12 # local variable
  print(b1)
print(a1)
f1()
# can not print a local variable outside the function print(b1)

10
12

In [34]:
 a2 = 10 # global variable

 def f2():
  b2 = 12 # local variable
  print(b2)
  print(a2)

print(a2)
f2()

10
12
10

In [36]:

def f2():
  b2 = 12 # local variable
  print(b2)
  print(a2)

a2 = 10 # global variable

print(a2)
f2()

10
12
10

In [37]:

def f2():
  b2 = 12 # local variable
  print(b2)
  print(a2)
  print(c3)

a2 = 10 # global variable

print(a2)
f2()
c3 = 20

10
12
10

NameError: ignored

In [42]:

# you can access any global variable defined before the function call
def f2():
  b2 = 12 # local variable
  print(b2)
  print(a2)
  #print(c3)

a2 = 10 # global variable

print(a2)
f2()
c3 = 20

10
12
10

In [43]:
a4 = 13
def f4():
  a4 = 12 # python assumes that you're creating a local variable
  print(id(a4))

print(a4)
f4()
print(id(a4))

13
10914848
10914880

In [44]:
a4 = 13
def f4():
  global a4
  a4 = 12 # python assumes that you're creating a local variable
  print(a4)
  print(id(a4))

print(a4)
f4()
print(a4)
print(id(a4))

13
12
10914848
12
10914848

In [45]:
def sum(a, b, c = 0):
  print(c)
  return a + b + c

print(sum(2, 3, 4))
print(sum(3, 4))

4
9
0
7

In [47]:
# all non default arguments should be before arguments with default values
def f(a = 0, b, c):
  return a + b + c

f(1, 2)

SyntaxError: ignored

In [51]:
def f1(a, b, c = 2, d = 0):
  return a + b + c + d

print(f1(2, 3, 4, 5))
print(f1(2, 3))
print(f1(2, 3, 5))

f1(2, 3, d = 3)
f1(b = 2, c = 3, d = 3, a = 10)

14
7
10

18